* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

html {
    height: 100%
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.sidebar {
    background: black;
    grid-column: 1 / 1;
    grid-row: 1 / 20;
    color: white;
    padding: 1.5em;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.header {
    background-color: yellow;
    grid-column: 2 / 21;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: rgb(240, 240, 240);
    grid-column: 2 / 21;
    grid-row: 5 / 20;
    box-shadow: inset 0px 3px 5px -2px #00000088, inset 0px -3px 5px -2px #00000085;
}

footer {
    background-color: white;
    grid-column: 1 / 21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 1em;
    align-self: flex-start;
}

.airninelogo {
    height: auto;
    width: 4em;
}

.sidebar-header > p {
    color: white;
    font-size: larger;
    letter-spacing: 4px;
}

.sidebar-primary {
    grid-row: 2 / 4
}

.sidebar-secondary {
    grid-row: 5;
}

img {
    height: auto;
    width: 1.5em;
}

.sidebar > ul > li > a > img {
    filter: invert(100%);
}

.sidebar > ul > li {
    list-style: none;
}

.sidebar > ul > li > a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.5em 0em;
}

.sidebar > ul > li > a:hover {
    color: gainsboro;
}

.header-top {
    display: grid;
    grid-template-columns: 4fr 0.5fr 2fr;
}

.searchbar {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 10px;
    padding: 0 2em;
}

.searchbar > input {
    width: 33vw;
    height: 5vh;
    border: none;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px 0px 5px -2px #000000;
}

.notificationbutton {
    grid-column: 2;
    align-self: center;
    justify-self: right;
}

.user {
    grid-column: 3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    padding: 0px 2em;
    font-weight: bold;
}

.userphoto {
    box-shadow: 0px 0px 5px 0px black;
    height: auto;
    width: 3em;
    border-radius: 25px;
}

.header-bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
}
.greeting {
    padding: 0 5vh;
    display: grid;
    grid-template-columns: 1fr 0.25fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.greetinghi {
    grid-column: 3 / 4;
    grid-row: 1;
    align-self: center;
    font-size: small;
}

.greetingname {
    grid-column: 3 / 4;
    grid-row: 2;
    font-size: large;
    font-weight: bold;
}

.greeting > img {
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 50px;
    height: auto;
    width: 3.5em;
    align-self: start;
    justify-self: right;
    grid-column: 1;
    grid-row: 1 / 3;
}

.header-functions {
    align-content: center;
    padding-left: 10em;
    padding-right: 3em;
}

.header-functions > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-functions > ul > li {
    list-style: none;
}

.header-functions > ul > li > button {
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.849);
    border: none;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    border-radius: 25px;
    height: 3em;
    width: 6em;
}

.header-functions > ul > li > button:hover {
    box-shadow: 0px 0px 1px 0px rgb(0, 0, 0), inset 0px 0px 5px 0px white;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 20px;
}

.content-left {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
}

.content-left > p {
    font-size: large;
    font-weight: 500;
    margin-left: 1vw;
    grid-column: 1 / 3;
    grid-row: 1;
    align-self: end;
}

.content-left > div {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.504);
    border-left: 5px solid rgba(255, 255, 0, 0.934);
    padding-left: 10px;
    padding-top: 5px;

    display: grid;
    grid-template-rows: 1.5fr 0.5fr 0.5fr 0.5fr 2fr 1.5fr;
    align-items: center;
}

.classes-desc {
    align-self: end;
    grid-row: 5;
}

.classesbuttons {
    justify-self: right;
    grid-row: 6;
    margin-right: 1em;
}

.classesbuttons > a:hover {
    filter: invert(100%);
}
    
@keyframes rainbowText {
    0% { color: red; }
    16% { color: orange; }
    32% { color: yellow; }
    48% { color: green; }
    64% { color: blue; }
    80% { color: indigo; }
    100% { color: violet; }
}

#a360noscope {
    animation: rainbowText 0.1s infinite;
}

.content-right {
    grid-column: 2;
    display: grid;
    grid-template-rows: 50px 1fr 50px 1fr;
}

.announcements-header {
    font-size: large;
    font-weight: 500;
    margin-left: 1vw;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

.homework-header {
    font-size: large;
    font-weight: 500;
    margin-left: 1vw;
    grid-column: 1;
    grid-row: 3;
    align-self: end;
}

.content-right > div {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.501);
    padding: 5px 10px;
}

.announcements {
    display: grid;
}

.announcements > div {
    border-top: 1px solid rgb(169, 169, 169);
}

.announcements > div:first-child {
    border: none;
}

.homework {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homework > img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}