@import url('https://fonts.googleapis.com/css2?family=Robotowhgt@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

html {
    height: 100%
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.sidebar {
    background: black;
    grid-column: 1 / 1;
    grid-row: 1 / 20;
    color: white;
    padding: 1.5em;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.header {
    background-color: yellow;
    grid-column: 2 / 21;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: white;
    grid-column: 2 / 21;
    grid-row: 5 / 20;
    box-shadow: inset 0px 3px 5px -2px #000000, inset 0px -3px 5px -2px #000000;
}

footer {
    background-color: lightgrey;
    grid-column: 1 / 21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 1em;
    align-self: flex-start;
}

.airninelogo {
    height: auto;
    width: 4em;
}

.sidebar-header > p {
    color: white;
    font-size: larger;
    letter-spacing: 4px;
}

.sidebar-primary {
    grid-row: 2 / 4
}

.sidebar-secondary {
    grid-row: 5;
}

img {
    height: auto;
    width: 1.5em;
}

.sidebar > ul > li > a > img {
    filter: invert(100%);
}

.sidebar > ul > li {
    list-style: none;
}

.sidebar > ul > li > a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.5em 0em;
}

.sidebar > ul > li > a:hover {
    color: gainsboro;
}

.header-top {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.searchbar {
    grid-column: 1 / 6;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 10px;
}

.searchbar > input {
    width: 33vw;
    height: 5vh;
    border: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: inset 0px 0px 5px -2px #000000;
}