* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

html {
    height: 100%
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.sidebar {
    background: black;
    grid-column: 1 / 1;
    grid-row: 1 / 20;
    color: white;
    padding: 1.5em;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.header {
    background-color: yellow;
    grid-column: 2 / 21;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: white;
    grid-column: 2 / 21;
    grid-row: 5 / 20;
    box-shadow: inset 0px 3px 5px -2px #000000, inset 0px -3px 5px -2px #000000;
}

footer {
    background-color: lightgrey;
    grid-column: 1 / 21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 1em;
    align-self: flex-start;
}

.airninelogo {
    height: auto;
    width: 4em;
}

.sidebar-header > p {
    color: white;
    font-size: larger;
    letter-spacing: 4px;
}

.sidebar-primary {
    grid-row: 2 / 4
}

.sidebar-secondary {
    grid-row: 5;
}

img {
    height: auto;
    width: 1.5em;
}

.sidebar > ul > li > a > img {
    filter: invert(100%);
}

.sidebar > ul > li {
    list-style: none;
}

.sidebar > ul > li > a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.5em 0em;
}

.sidebar > ul > li > a:hover {
    color: gainsboro;
}

.header-top {
    display: grid;
    grid-template-columns: 4fr 0.5fr 2fr;
}

.searchbar {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 10px;
    padding: 0 2em;
}

.searchbar > input {
    width: 33vw;
    height: 5vh;
    border: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: inset 0px 0px 5px -2px #000000;
}

.notificationbutton {
    grid-column: 2;
    align-self: center;
    justify-self: right;
}

.user {
    grid-column: 3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    padding: 0px 2em;
    font-weight: bold;
}

.userphoto {
    height: auto;
    width: 3em;
    border-radius: 25px;
}

.header-bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
}
.greeting {
    padding: 0 5vh;
    display: grid;
    grid-template-columns: 1fr 0.25fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.greetinghi {
    grid-column: 3 / 4;
    grid-row: 1;
    align-self: center;
    font-size: small;
}

.greetingname {
    grid-column: 3 / 4;
    grid-row: 2;
    font-size: large;
    font-weight: bold;
}

.greeting > img {
    border: 2px solid black;
    border-radius: 50px;
    height: auto;
    width: 3.5em;
    align-self: start;
    justify-self: right;
    grid-column: 1;
    grid-row: 1 / 3;
}